{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8 col-md-8">
        <div class="alert alert-primary" role="alert">
            모든 부분을 다 채워넣어주세요!!
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <!--
                21.11.20 15:28
                csrf_token?
                    - 폼이 생성 되었을 때, 난수를 생성해주는 구문
                form.as_p
                    - form을 가져와서 한 개씩 끼워 주겠다?
            -->
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}