{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <!-- object_list == Photo Model -->
            {% for object in object_list %}
            <div class="card">
                <div class="card-header">
                    {{ object.author }}
                </div>
                <img src=" {{ object.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> {{ object.text }} </p>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- 21.11.20 li:updated 추가 -->
                    <!--<li class="list-group-item">수정일 : {{ object.update }}</li>-->
                    {% if user.is_authenticated %}
                        <!-- 21.11.20 21:45 좋아요 기능 추가-->
                        <li class="list-group-item">
                            <!--  -->
                            <a href="{% url 'photo:like' object.id %}" class="float-left btn-like {%if user in object.like.all %} active {%endif%}">좋아요!</a>
                            {% if object.like.all.count %}
                                <span class = "float-left">
                                    {{ object.like.all.count }}
                                </span>
                            {% endif %}
                            <a href="{% url 'photo:favorite' object.id %}" class="float-right btn-favorite {%if user in object.favorite.all %}active{%endif%}">저장하기!</a>
                        </li>
                        <!--  -->
                    {% endif %}
                    <li class="list-group-item">생성일 : {{ object.created }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'photo:detail' object.id %}" class="card-link">댓글달기</a>
                    <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
                    <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col"></div>
        <!-- 21.11.20 static HTML 임시 삭제-->
    </div>
</div>
{% endblock %}

